RewriteEngine On
RewriteCond %{HTTP_HOST} ^clicingenieria\.com$ [NC]
RewriteRule ^webGestion/FAQ/pags/FAQ\.html$ https://soporte.ingeniumsl.com/webGestion/FAQ/pags/FAQ.html [R=301,L]



# Redirecciona la raíz de un dominio a la raíz de otro dominio 
RedirectMatch 301 ^/?$ https://soporte.ingeniumsl.com/

# Redirecciona un dominio completo a la raíz de otro dominio 
RedirectMatch 301 ^(.*)$ https://soporte.ingeniumsl.com/

# Redirecciona un dominio completo a otro dominio completo 
RedirectMatch 301 ^(.*)$ https://soporte.ingeniumsl.com/$1