
footer {
    background-color: var(--back-color);
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    position: static;
    bottom: 0;
    width: 100%;

  }

  font {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  a{
    color: white;
    
  }

  
  @media (max-width: 1300px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
   
   
  
}