main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

footer {
  margin-top: auto;
  background-color: var(--back-color);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

font {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1300px) {
  footer {
      flex-direction: column;
      align-items: center;
  }
}
/* Estilos generales para dispositivos móviles */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px; /* Ajusta el tamaño de fuente para dispositivos móviles */
  }

  main {
    padding: 10px; /* Ajusta el espaciado del contenido principal en dispositivos móviles */
  }
}

/* Estilos específicos para el footer en dispositivos móviles */
@media only screen and (max-width: 767px) {
  footer {
    position: static; /* Restaura la posición del footer a su valor predeterminado */
  }
}