@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root{
    --color-barra-lateral:transparent;

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(255,255,255);


    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*-----------------Menu*/
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}

/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 100%;
    overflow: hidden;
    padding: 0px  15px;
    background-color: transparent;
    transition: width 0.3s ease,background-color 0.3s ease,left 0.3s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 80px;
    background-color: transparent;
}

.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s ease,width 0.3s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

#icon-FAQ{
    width: 30px;
    padding-left: 2.5px;
    margin-right: 20px;
    height: 20px;
    cursor: pointer;
}

.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}

/*------------> Botón*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}

/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}
.barra-lateral .navegacion a:hover{
    background-color: var(--amarillo-ing-color);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    margin-left: -9px;
    min-width: 50px;
    font-size: 20px;
}

/*-----------------> Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*-------------main*/
#inbox{
    background-color: var(--amarillo-ing-color);
    color: var(--black);
}

.linea{
    
    visibility: hidden;
}

#right-arrow {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#right-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; /* Ancho del desplazamiento */
    height: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#right-arrow.reverse {
    transform: translateX(20px) rotate(180deg) scale(1.4); /* Mover 20 píxeles a la derecha */
}

#right-arrow.reverse::before {
    background-color: transparent; /* Color de fondo del desplazamiento */
}

#right-arrow {
    transition: transform 0.3s ease;
}

@media (max-width: 1300px) {
    .barra-lateral{
        background-color:  var(--secundary-color);
        margin-top: 8px;
        width: 100%;
    }
    .mini-barra-lateral{
        background-color: transparent;
        width:80px;
    }
  }