
.icon-FAQ{
        width: 30px;
        padding-left: 2.5px;
        margin-right: 20px;
        height: 20px;
        cursor: pointer;
}



  
#origen:hover img {
    content: url('/webGestion/img/Logos-Icons/Icons/Icon-ing-black-origen.svg');
}

#bes:hover img {
    content: url('/webGestion/img/Logos-Icons/Icons/Icon-ing-black-bes.svg');

}

#wings:hover img {
    content: url('/webGestion/img/Logos-Icons/Icons/Icon-ing-black-wings.svg');

}

#zclim:hover img {
    content: url('/webGestion/img/Logos-Icons/Icons/Icon-ing-black-zclim.svg');

}

#bi:hover img {
    content: url('/webGestion/img/Logos-Icons/Icons/Icon-ing-black-b16.svg');

}