/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  background-color: #050505;
  background-image: linear-gradient(rgba(0, 98, 104, 0.4), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px #f8c76c solid;
  background-color: #032325;
}

.menu-toggle {
  display: none;
}

#logo-header {
  width: 160px;
  height: 60px;
  margin-right: 20px;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages a:first-of-type {
  margin-right: 5px;
}

.language-flag {
  width: 18px;
  height: 12px;
  margin: 0 2px;
}

.top-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.top-nav ul li {
  margin: 0 10px;
  position: relative;
}

.top-nav ul li a {
  text-decoration: none;
  color: #fefcfb;
}

/*  main */
input[type="search"] {
  box-sizing: border-box;
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.4s ease-in-out;
  background-color: #050505;
  background-image: linear-gradient(
    rgba(37, 31, 41, 0.276),
    rgba(0, 0, 0, 0.6)
  );
}

input[type="search"]:focus {
  width: 12%;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
  color: white;
}

.main-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}



.left {
  max-width: 20%;
  height: auto;
}

.mid {
  display: flex;
  justify-content: center;
  max-width: 60%;
  height: auto;
  margin-left: 10em;
}

.right{
max-width: 20%;
display: flex;
justify-content: center;
}


.video-container{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
}


.scrollMid {
  overflow: auto; /* Asegura que la barra de desplazamiento solo se muestre cuando sea necesario */
  overflow-y: scroll;
  height: 620px;
}

/* Estilo de la barra de desplazamiento */
.scrollMid::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  background-color: #6d4907; /* Color de fondo de la barra de desplazamiento */
  border-radius: 100vw;
}

/* Estilo del pulgar (el elemento que puedes arrastrar) de la barra de desplazamiento */
.scrollMid::-webkit-scrollbar-thumb {
  background-color: #f8c76c; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 6px; /* Radio de borde del pulgar de la barra de desplazamiento */
  border: 3px solid #6d4907; /* Borde del pulgar de la barra de desplazamiento */
}
.scrollMid::-webkit-scrollbar-thumb:hover {
  border-radius: 6px; /* Radio de borde del pulgar de la barra de desplazamiento */
  border: 2px solid wheat; /* Borde del pulgar de la barra de desplazamiento */
}



/* Header */

h1 {
  position: relative;
  text-align: center;
  color: #fefcfb;
  font-size: 55px;
  margin: 5px;
}
h1::before {
  content: "";
  position: absolute;
  left: 200;
  bottom: 0;
  width: 485px;
  height: 3px;
  background-color: #f8c76c;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.problema {
  font-weight: bold;
}

.resaltado {
  background-color: #f8c76c;
}

#problemsList {
  height: auto;
  margin-top: 40px;
  margin-right: 15px; /* Separar scrollbar de problemsList*/
  padding: 20px; /* Ajusta el relleno según sea necesario */
}
ul#problemsList {
  list-style: none;
  padding: 0;
}

li.problemaItem {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.problemaItem:last-child {
  border-bottom: none;
}

.problemaTitulo {
  font-weight: bold;
  cursor: pointer;
}

.problemaContenido {
  display: none;
}

/* Estilos para el párrafo de solución */
/* Estilos para el botón de mostrar/ocultar solución */
.solucionBtn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  background-image: url("../img/svgs/flecha-hacia-abajo.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: scaleY(1);
  order: 1;
  margin-left: 1em;
}

/* Estilo para el botón cuando está activo */
.solucionBtn.active {
  background-color: #2ecc71;
  transform: scaleY(-1);
}

.p-solucion {
  max-height: 0;
  overflow: hidden;
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.p-solucion.visible {
  max-height: fit-content;
  opacity: 1;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  text-align: left;
}

.p-solucion.visible strong {
  color: #2ecc71;
}

.problemaContenido button {
  margin-top: auto;
}

.problema-div {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.solucion-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
  color: white;
}

input,
ul,
#divBotones {
  text-align: center;
}

p,
a {
  color: #848484;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 40px;
  color: #fefcfb;
  margin-bottom: 0px;
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}

h2:first-of-type {
  margin-top: -1px;
}

.video-container {

  display: flex;
  justify-content: space-around;
  height: 50%;
}

.video-container iframe {
  display: flex;
margin-top: 250px;
  width: 250px;
 
  height: 200px; /* Ajusta la altura según tus necesidades */

}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
}

#toggleSidebarButton{
  display: none;
}
#toggleSidebarCloseButton{
  display: none;
}


/* Media query específico para pantallas de hasta 1300px */
/* 
@media (max-width: 1300px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .main-container {
    flex-direction: column;
    justify-content: space-around;
  }

  #logo-header {
    margin: 0 20px;
  }

  h1 {
    display: none;
  } */

  /* Reset de estilos*/

/* 
  .left,
  .mid,
  .scrollMid,
  .main-container,
  .video-container {
    position: static;
    width: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }
 */


  /* .scrollMid {
    overflow: auto;  *//* Asegura que la barra de desplazamiento solo se muestre cuando sea necesario */
/*     overflow-y: scroll;
  } */
/* 
  .video-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    order: -1;
    margin-left: 8px;
    margin-right: 8px;
  }

  .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fefcfb;
  }

  .top-nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1001;
  }

  .top-nav ul.menu-visible {
    display: flex;
  }

  .languages {
    order: 4;
    margin: 0;
  }

  input {
    min-width: 40%;
  }
  .scrollMid::-webkit-scrollbar {
    display: none;
  }
  #problemsList {
    margin: 0 15px;
    display: none;
  }
  
}

@media (max-width: 768px) {
  
 */

/*   .scrollMid { */

    /* Asegura que la barra de desplazamiento solo se muestre cuando sea necesario */
/*     overflow-y: hidden;
  }
 *//* 
  input {
    min-width: 35%;
    color: #fefcfb;
  }

  .languages {
    margin-right:20px;
    order: 4;
  }

  #logo-header {
    content: url("../img/logo_ingenium_sin_nombre.png");
    color: #f8c76c;
    width: 60px;
    height: 60px;
  }


  #problemsList {
    display: none;
    margin: 0 3em;
  }   
}
 */