

/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--back-color);
}

footer{
    color: white;
}

p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white ;
}
#text{
    color: white ;
}
/*index*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative; /* Añade una posición relativa al contenedor */
    min-height: 70vh;
    height: 92vh;
    display: flex;
    align-items: center;
    overflow: hidden; /* Oculta el contenido que se desborde del contenedor */
  
    /* Añade el video como fondo */
    background: linear-gradient(rgba(31, 46, 82, 0.479), rgba(75, 75, 75, 0)), url(/TEST/hero.mp4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #video-background {
    position: absolute; /* Establece una posición absoluta para que el video cubra todo el contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para cubrir todo el contenedor */
    z-index: -1; /* Coloca el video detrás del contenido */
  }
  

.menu{
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{ 
    color: #ffffff;
    font-size: 100px;
    width: 100px;
    
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}


.menu .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
}


.menu .navbar ul li a:hover{
    color:var(--amarillo-ing-color) ; 
}

.menu-movil{
    display: none;
}

.submenu{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: var(--primary-color);
}

.submenu li a {
    display: block;
    padding: 15px;
}

.menu .navbar li:hover .submenu{
    display: block;
}

#menu{
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-txt h1{
    font-size: 80px;
    line-height: 90px;
    color:var(--white) ;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 16px;
    color: var(--white) ;
    margin-bottom: 0px;
}

.btn-1{
    margin-top: 20px;
    display:  inline-block;
    padding: 11px 45px;
    background-color: var(--amarillo-ing-color);
    color: var(--primary-color);
    border-radius: 25px;
    font-size: 22px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn-1:hover{
    background-color: transparent;
    border: 2px solid rgba(235, 194, 36, 0.4);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


.direccion{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.direccion p {
    color: #FEFCFB;
    font-size: 15px;
}

.direccion a {
    color: #FEFCFB;
    font-size: 15px;
}

.direccion a:hover {
    color: #f8c76c;
    font-size: 15px;
}

.about{
    margin-bottom: 50px;
    display: flex;
    
}

.about-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;

}

.about-img{
    width: 50%;
    
}

.about-img img{
    width: 450px;
    
}

h2{
    font-size: 60px;
    color: #FEFCFB;
    margin-bottom: 15px;
}

.h2-contact{
    display: flex;
    justify-content: center;
}

.about-txt p{
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 35px;
}

.information{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


.footer-content{
    display: flex;
    justify-content: center;
}

.footer-form{
    width: 50%;
}
.form-contact{
    width: 100%;
}

form{
    display: flex;
    width: 360px;
    flex-direction: column;
    
}
.contact{
    background-image: url(/webGestion/img/contact_bg.png);
    background-color: var(--primary-color);
    color: #fff;
    padding: 50px 0;
    max-width: 100%;
}
.campo-contact{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--secundary-color);
    color: #fff;
    font-size: 18px
}
.campo{
    width: 220%;
    background-color:var(--secundary-color) ;
    padding: 17px 35px;
    outline: none;
    color: #7e7e7e;
    border: 0;
    margin-bottom: 10px;
}

.campo::placeholder{
    color: #7e7e7e;
}



.btn-2 {
    display: inline-block;
    width: 220%;
    padding: 10px 20px;
    background-color: var(--amarillo-ing-color);
    color: var(--primary-color);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.btn-2:hover {
    background-color: transparent;
    border: 2px solid rgba(235, 194, 36, 0.4);
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.footer-2 .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #9900b8;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    -webkit-transform: translateX(-50%) translateY(-100%);
    -moz-transform: translateX(-50%) translateY(-100%);
    -ms-transform: translateX(-50%) translateY(-100%);
    -o-transform: translateX(-50%) translateY(-100%);
}
.footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    
}


.footer-2 .footer-2-txt font{
    display: flow;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: #e0e0e0;
}

.footer-2 .footer-2-txt a{
   
    text-align: center;
    font-size: 16px;
    color: var(--white);
}
#back-to-top {
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    top:2230px;
    right: 20px;
    display: none;
}

#back-to-top a {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.5) url(/webGestion/img/backtotop.png) no-repeat center center;
    text-indent: -9999px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
}





/*Perfl*/

.header-user{
    position: relative;
    z-index: 999;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header  {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#1F2E52, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #006268, #317FFF);
    border-radius: 0 0 20px 20px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 13.5rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i a{
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar  .boton-avatar-camara{
    left: 11px;
    top: 11px;
    height: 50%;
    width: 50%;
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    color: var(--white);
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .8);
    background-color: var(--primary-color);
    border-radius: 15px;
    width: 100%;
    color: var(--amarillo-ing-color);
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.lista-datos li .data-value{
    color: var(--white);
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.footer-perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.footer-2-imagen-container {
    display: flex;
}

.footer-2-banner ,
.footer-2-icon  {
    margin: 0 10px; /* Ajusta el margen según tus preferencias */
}

.footer-2-banner img{
    width: 200px; 
    height: 50px;
}

.footer-2-icon img {
    width: 50px; /* Ajusta el ancho según tus preferencias */
    height: auto; /* Ajusta la altura automáticamente */
}

.footer-perfil .footer-2-txt p{
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
    color: #e0e0e0;
}

.footer-perfil .banner .footer-2-banner{
    height: 30%;
    width: 30%;
}



/*Seguridad*/

.cambio-contrasena {
    max-width: 750px; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 30px;
    background-color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .8);

    margin-bottom: 30px;
}

.cambio-contrasena h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--white);
}

.cambio-contrasena form{
    align-items: center;
    width: 300px;
}

.campo {
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: left;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.campo label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #a7a5a5;
}

.campo input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-pass{
    margin-left: 200px;
    width: 360px;
}




/* Instalaciones*/

.search-container {
    right: 40px; 
    bottom: 50px; 
    position: absolute;
    text-align: center;
    margin-top: 20px;
}

#search-input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 8px 20px;
    background-color: var(--amarillo-ing-color);
    border: none;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
}

#search-button:hover {
    background-color: transparent;
    border: 1px solid var(--amarillo-ing-color);
    color: var(--amarillo-ing-color);
}

.swiper{
    width: 100%;
    padding:  150px 0 50px 0;
}

.instals-content{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 50px;
}


.sticker-instalacion{
   /*Contenedor,modificarparaqueeltamañoseahorizontal*/
   width: 500px;
   border-radius:10% ;
   box-shadow: 0 0 12px rgba(0, 0, 0, .8);
   background-color: var(--primary-color);
   padding: 20px 20px 20px 20px;
   text-align: center;
   overflow: hidden;
   -webkit-border-radius:10% ;
   -moz-border-radius:10% ;
   -ms-border-radius:10% ;
   -o-border-radius:10% ;

}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.icons i {
    font-size: 20px;
    color: #a08450;
}

.icons img{
    width: 50px;
}

.instalaccion-content{
    display: flex;
    justify-content: space-between;
}

.instalacion-txt{
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

.instalacion-txt span{
    font-size: 25px;
    color: var(--amarillo-ing-color);
    font-weight: bold;
}

.instalacion-txt li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between; 
}

.instalacion-txt h3{
    width: 180px;
    font-weight: lighter;
    font-size: 18px;
    color: #fefcfb;
    text-align: left;
    float: left;
}

.instalacion-txt p{
    font-size: 14px;
    color: #ccc;
    float: left;
    margin-left: 10px;
    text-align: right;
}

.instalacion-img{
    flex-basis: 50%;
    text-align: right;

}

.instalacion-img img{
    width: 150px;
}


.btn-3{
    display: inline-block;
    background-color: var(--amarillo-ing-color);
    color: var(--secundary-color);
    padding: 13px 55px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    text-decoration: none;
    margin-top: 50px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-3:hover{
    background-color: transparent;
    border: 2px solid var(--amarillo-ing-color);
    color: var(--amarillo-ing-color);
}


/*Datos instalacion*/

.container-node{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.h2-nodes{
    color: #ccc;
    margin-bottom: 45px;
}

.nodes-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 50px;
}
.nodes{
    padding: 30px;
}

.node-1{
    background-color: var(--primary-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, .8);
}

.node-1 img{
    width: 100%;
    height: 40%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.node-txt{
    text-align: center;
    padding:50px 30px ;
}





.h3-node{
    text-align: center;
    font-weight: lighter;
    font-size: 25px ;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.consumos-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    text-align: center;
}

.consumos-container{
    max-width: 1000px ;
    width: 100%;
    padding: 30px;
    background-color: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.consumos-container *{
    color: #ccc;
}

.h3-consumos{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 34px;
    font-weight: lighter;
}

.consumos:not(:last-child) { /*No afecta a los pseudo elementos*/
    margin-bottom: 30px;

}
.grafic-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.grafic-menu{
    position: relative;
    border: 1px solid var(--amarillo-ing-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grafic-menu div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--amarillo-ing-color);
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    
}

.product-1{
    background-color: var(--primary-color);
    box-shadow: -1px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.product-txt{
    padding: 50px 30px;
}

.product-1 img{
    width: 100%;
    height: 50%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);

    
}

.servicio-txt{
    font-weight: lighter;
    font-size: 25px;
    color: var(--white);
    margin-bottom: 20px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price p{
    font-weight: bold;
    font-size: 17px;
    color: var(--amarillo-ing-color);
}

/*Promociones Obra neva*/

.promos-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 50px;
}


.sticker-promocion{
   /*Contenedor,modificarparaqueeltamañoseahorizontal*/padding: 30px;
   width: 500px;
   border-radius:10% ;
   background-color: #01474b;
   box-shadow: rgb(58, 58, 58,0.8);
   padding: 20px 20px 20px 20px;
   text-align: center;
   min-height: 350px;
   overflow: hidden;
   -webkit-border-radius:10% ;
   -moz-border-radius:10% ;
   -ms-border-radius:10% ;
   -o-border-radius:10% ;
}



.promocion-content{
    margin-top: 20PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.sticker-promocion span{
    font-size: 35px;
    text-align: center;
    color: #a08450;
    font-weight: bold;
}

.promocion-txt{
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
    display: flex;
    align-items: center;
}

.promocion-txt ul{
    height: 100px;
    width: 220px;;
}


.promocion-txt li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.promocion-txt h3{
    font-weight: lighter;
    font-size: 18px;
    color: #fefcfb;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

.promocion-txt p{
    font-size: 14px;
    color: #ccc;
    float: left;
    margin-left: 10px;
    text-align: right;
}
.obra-progres{
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.obra-progres .grafic-details-obra{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.obra-progres .grafic-details-obra #span{
    font-weight: lighter;
    font-size: 18px;
    color: #fefcfb;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

.promocion-img{
    max-width: 150px;;
    flex-basis: 50%;
    text-align: right;

}

.promocion-img img{
    width: 150px;
}


.grafic-obra{
    position: relative;
    border: 1px solid #a08450;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grafic-obra div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #a08450;
}
.grafic-details-obra{
    justify-content: space-around;
}

#grafic-a{
    animation: anim-a 2s forwards;
    -webkit-animation: anim-a 2s forwards;
}

#grafic-b{
    animation: anim-b 2s forwards;
    -webkit-animation: anim-b 2s forwards;
}

#grafic-c{
    animation: anim-c 2s forwards;
    -webkit-animation: anim-c 2s forwards;
}

#grafic-d{
    animation: anim-d 2s forwards;
    -webkit-animation: anim-d 2s forwards;
}

@keyframes anim-a{
    100%{
        width: 70%;
    }
}

@keyframes anim-b{
    100%{
        width: 10%;
    }
}

@keyframes anim-c{
    100%{
        width: 92%;
    }
}

@keyframes anim-d{
    100%{
        width: 42%;
    }
}



/*Animacion Grafica*/

#grafic-1{
    animation: anim-1 2s forwards;
    -webkit-animation: anim-1 2s forwards;
}

@keyframes anim-1{
    100%{
        width: 76%;
    }
}

#grafic-2{
    animation: anim-2 2s forwards;
    -webkit-animation: anim-2 2s forwards;
}

@keyframes anim-2{
    100%{
        width: 56%;
    }
}

#grafic-3{
    animation: anim-3 2s forwards;
    -webkit-animation: anim-3 2s forwards;
}

@keyframes anim-3{
    100%{
        width: 86%;
    }
}

#grafic-4{
    animation: anim-4 2s forwards;
    -webkit-animation: anim-4 2s forwards;
}

@keyframes anim-4{
    100%{
        width: 46%;
    }
}

#grafic-5{
    animation: anim-5 2s forwards;
    -webkit-animation: anim-5 2s forwards;
}

@keyframes anim-5{
    100%{
        width: 56%;
    }
}

#grafic-6{
    animation: anim-6 2s forwards;
    -webkit-animation: anim-6 2s forwards;
}

@keyframes anim-6{
    100%{
        width: 26%;
    }
}

/*NUEVA INSTALACION GESTOR*/

.main-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form-container{
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(135deg, #02959c, #a08450);
    padding: 25px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.form-container .title h4{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form-container .title h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 195px;
    background: #f8c76c;
}

.form-container form .box-details{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
}

form .box-details .input-box-2{
    margin-top: 20px;
    margin-bottom: 25px ;
    width:  calc(100% / 2 - 20px);
}

.box-details .input-box-2 .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.box-details .input-box-2 input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
.box-details .input-box-2 input:focus,
.box-details .input-box-2 input:valid{
    border-color: #a08450;
}

form .select-details .select-title{
    font-size: 20px;
    font-weight: 500;
}

form .select-details .categoria{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.select-details .categoria label{
    display: flex;
    align-items: center;
}

.select-details .categoria .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#dot-1:checked ~ .categoria  .one,
#dot-2:checked ~ .categoria  .dos,
#dot-3:checked ~ .categoria  .tre,
#dot-4:checked ~ .categoria  .cua{

    border-color: #d9d9d9;
    background: #a08450;
}

#dot-one:checked ~ .categoria  .uno,
#dot-two:checked ~ .categoria  .two,
#dot-tre:checked ~ .categoria  .trhee{

    border-color: #d9d9d9;
    background: #a08450;
}

form input[type="radio"]{
    display: none;
}

form .btn-4{
    min-height: 45px;
    margin: 45px 0;
}

form .btn-4 input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #ccc;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #a08450, #f8c76c);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*RESPONSIVE CODE*/

@media(max-width:1100px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu-movil{
        display: initial;
    }

    .submenu-container{
        display: none;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #090909c2;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .submenu{
        position: absolute;
        display: none;
        list-style: none;
        width: 200px;
        background-color: #090909c2;
    }

    .submenu li a {
        display: block;
        padding: 15px;
    }

    .menu .navbar li:hover .submenu{
        display: block;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header{
        max-height: 82vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-txt{
        width: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
        line-height: 80px;
    }

    .direccion{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .direccion p{
        margin-bottom: 10px;
    }

    .about{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .about-txt{
        width: 100%;
        text-align:  center;
        margin-bottom: 25px;
    }
    .about-img{
        width: 100%;
        order: 2;
        text-align: center;
    }
    .about-img img{
        width: 300px;
    }
    .footer{
        padding: 30px 30px 30px 30px;
    }

    .footer-content{
        flex-direction: column;
    }

    .footer-form{
        width: 100%;
        text-align: center;
    }

    form{
        width: 100%;
        margin: 0 0 25px 0;
    }

    .campo {
        width: 100%;
    }

    .btn-2 {
        width: 100%;
    }

    .footer-2 p {
        text-align: center;
    }

    .cambio-contrasena{
        width: 85%;
        margin: 0 auto;
    }

    .cambio-contrasena form{
        width: 80%;
        margin: 0 auto;
    }

    .nodes{
        padding: 30px;
    }

    .nodes-content{

        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }

    .node-1 img{
        width: 100%;
    }

    .instals-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

     /*Promos*/
     .promos-content{
        display: grid;
        justify-content: center;
        place-items: center;
        grid-template-columns: repeat(1, 1fr) ;
        gap: 50px;
    }
    #back-to-top {
        opacity :0;
    }

}

@media(max-width:900px){
    #back-to-top {
        opacity :0;
    }
    .product{
        padding: 30px;
    }

    .product-content{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
}

@media (max-width: 750px) {
    #back-to-top {
        opacity :0;
    }

    /*seguridad*/

    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .perfil-usuario-avatar {
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
    }

    .seccion-perfil-usuario .perfil-usuario-body {
        width: 85%;
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }

    .footer-perf {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        /* ... Otros estilos ... */
    }

    .footer-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* ... Otros estilos ... */
    }

    .footer-2-txt {
        /* ... Tus estilos anteriores ... */
        margin-bottom: 10px; /* Agrega un margen inferior para separar el texto de las imágenes */
    }

    .footer-2-imagen-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footer-2-icon img {
        width: 50px; /* Ajusta el ancho según tus preferencias */
        height: auto; /* Ajusta la altura automáticamente */
    }
    .footer-2-banner {
        margin-left: 80px;
        margin-bottom: 50px;
    }

    .nodes{
        padding: 30px;
    }

    .nodes-content{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }

    .product{
        padding: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
}

@media (max-width:600px) {
     .nodes-content{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    #back-to-top {
        opacity :0;
    }
}

@media (max-width: 550px) {

    #back-to-top {
        opacity :0;
    }
    .seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    padding: 4px 4px; 
    width: 80px;
    height: auto;
    }

    .seccion-perfil-usuario .perfil-usuario-avatar {
        width: 130px;
        height: 130px;
        left: calc(50% - 65px);
    }

    .seccion-perfil-usuario .perfil-usuario-body {
        width: 90%;
        margin: 0 auto;
    }

    .seccion-perfil-usuario .lista-datos {
        width: 100%;
        padding: 0;
    }
   

}
@media (max-width : 450px) {
    #back-to-top {
        opacity :0;
    }

    .instalacion-txt h3{
        font-weight: lighter;
        font-size: 10px;
        color: #fefcfb;
        text-transform: uppercase;
        text-align: left;
        float: left;
    }
    
    .instalacion-txt p{
        font-size: 10px;
        color: #ccc;
        float: left;
        margin-left: 10px;
        text-align: right;
    }

    
    .sticker-instalacion{
        /*Contenedor,modificarparaqueeltamañoseahorizontal*/padding: 30px;
        width: 500px;
        border-radius:10% ;
        box-shadow: rgb(58, 58, 58,0.8);
        padding: 10px 10px 10px 10px;
        text-align: center;
        overflow: hidden;
        -webkit-border-radius:10% ;
        -moz-border-radius:10% ;
        -ms-border-radius:10% ;
        -o-border-radius:10% ;
     }
     .instalacion-img{
        display: none;
     }
     .instals-content{
        display: flex;
        justify-content: center;
     }
}


