    .carousel-container {
        width: 12%; /* El contenedor ocupará el 12% del ancho de la pantalla */
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center; /* Centra verticalmente el contenido */
    }

    .carousel {
        width: 100%;
        height: 75%;
        /* border: 1px solid #ccc; */
        scroll-behavior: smooth; /* Hace que el scroll sea suave */
        overflow:visible; /* Oculta el contenido que excede el contenedor */
        overflow-y: hidden; /* Habilita el scroll vertical */
    }

    .carousel-inner {
        display: flex;
        flex-direction: column;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        color: linear-gradient(rgba(0, 98, 104, 0.4), rgba(0, 0, 0, 0.6));
        /* border: 1px solid #3498db; */ /* Borde alrededor de cada elemento */
        padding: 10px;
        cursor: pointer;
    }


    /* Estilos para la paginación */
    .pagination {
        position: absolute;
        left: 5px; /* Alinea a la izquierda del container */
        top: 50%; /* Centra verticalmente */
        display: flex;
        flex-direction: column; /* Alinea verticalmente */
        transform: translateY(-50%); /* Centra verticalmente */
    }

    .dot {
        width: 10px;
        height: 10px;
        background-color:  #865f17;
        border-radius: 50%;
        margin: 5px -30px; /* Espacio vertical entre los puntos */
        cursor: pointer;
    }

    .dot.active {
        background-color: #f8c76c;
        box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    }


    button.modeloBoton {
    /*  margin-top: 5px; */
        /* background-color: #f8c76c; */
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border-radius: 10%;
    }
    button.modeloBoton img{
        width: 103px;
        height: auto;
        margin-bottom: -3px;  /* Quitar cuando se tengan las imágenes de fondo */
    }
    
    button.modeloBoton:hover {
    
        box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
        transition: all 0.2s ease;
    }
    
    button.modeloBoton.selected {

        border: 3px solid #f8c76c;
        box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
        transition: all 0.2s ease;
    }

    @media (max-width: 1300px) {
        .carousel-inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;    
            width: auto; /* Ancho automático para ajustarse al contenido */
            justify-content: center; /* Alinea los botones al inicio verticalmente */
            margin: 0 1em;
        }

        /* Estilos para botones en pantallas pequeñas */
        .button-container {
            display: flex; /* Alinea los botones horizontalmente */
            flex-wrap: wrap; /* Envuelve los botones cuando no caben en una sola fila */
            justify-content: center; /* Centra horizontalmente los botones */
        }

        /* Estilos para la paginación en pantallas pequeñas */
        .pagination {
            display: none; /* Oculta la paginación en pantallas pequeñas */
        }
    }
    @media (max-width: 768px) {

      
        .carousel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;    
            width: 100%; /* Ancho automático para ajustarse al contenido */
            justify-content: center; /* Alinea los botones al inicio verticalmente */
            margin: 0;
            flex: 1;
        }
        .carousel-inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;    
            width: 100%; /* Ancho automático para ajustarse al contenido */
            height: 100%;
            justify-content: center; /* Alinea los botones al inicio verticalmente */
            margin: 0;
            flex: 1;
        }

        /* Estilos para botones en pantallas pequeñas */
        .button-container {
            display: flex; /* Alinea los botones horizontalmente */
            flex-wrap: wrap; /* Envuelve los botones cuando no caben en una sola fila */
            justify-content: center; /* Centra horizontalmente los botones */
            width: 100%;
            height: auto;
        }

        /* Estilos para la paginación en pantallas pequeñas */
        .pagination {
            display: none; /* Oculta la paginación en pantallas pequeñas */
        }
    }

